---
---

@import "{{ site.theme }}";

/* ユーザーCSS */

$h1color: rebeccapurple;

h1:first-of-type {
  background-color: $h1color;
  a {
    display: none;
  }
}

small#fcopy {
  color: gray;
}

/*
.scroll-images {
  display: flex;
  overflow-x: auto;
  gap: 8px; /* 画像の間隔（任意） 
}

.scroll-images img {
  flex-shrink: 0;
  height: auto;
  max-height: 200px; /* 必要ならサイズ調整 
}
*/

.scroll-images {
  display: flex;
  overflow-x: auto;
  gap: 8px;
  padding: auto 40px;
  /* ここが核心：左右フェードを固定するマスク */
  -webkit-mask-image: linear-gradient(to right, transparent 0%, black 20%, black 80%, transparent 100%);
mask-image: linear-gradient(to right,
  transparent 0px,
  black 20px,
  black calc(100% - 20px),
  transparent 100%
);
}

.scroll-images img {
  height: auto;
  flex-shrink: 0;
  object-fit: contain;
}
