---
---

@import "{{ site.theme }}";

/* ユーザーCSS */

$h1color: rebeccapurple;

h1:first-of-type {
  background-color: $h1color;
  a {
    display: none;
  }
}

/* 画像スクロール */
p.scroll-img {
  display: flex;
  overflow-x: auto;
  gap: 8px;
  padding: 0 20px;
  /* 画像左右フェード */
  -webkit-mask-image: linear-gradient(to right, transparent 0, black 20px, black calc(100% - 20px), transparent 100%);
  mask-image: linear-gradient(to right, transparent 0, black 20px, black calc(100% - 20px), transparent 100%);
  img {
    width: 100%;
    max-width: 480px;
    height: auto;
    flex-shrink: 0;
    object-fit: contain;
  }
}

/* 画像ビューアー */
dialog {
  width: 100%;
  max-width: 1280px;
  img {
    width: 100%;
  }
}

small#fcopy {
  color: gray;
}
